/* barre du haut */
nav.barre-haut{
    justify-content: space-between;
}

.connexion{
    height: 48px;
    display: flex;
    align-items: center;
    gap: 10px;

    margin: 0 0.2rem;
    padding: 0 .2rem;
}

.account-icon{
    font-size: 36px;
}

.connexion .btn-connexion{
    width: 100%;
    margin: 0 0.2rem;
    padding: 4px .2rem;
    border: 1px solid var(--clr-bordure-secondaire);
    background-color: var(--clr-fond-tertiaire);
    border-radius: 0.3rem;

    /* cursor: pointer; */
}
.connexion .btn-connexion.actif{
    background-color: var(--clr-fond-actif);
    color: var(--clr-texte-secondaire);
}

nav.barre-haut a{
    display: inline-block;
}



/* page connexion */
main.page-connexion *{
    margin: auto;
}

main.page-connexion .amorce{
    text-align: center;
}

main.page-connexion .principal{
    /* margin: auto; */
    padding: 20px;

    max-width: 700px;
    min-width: 300px;
    max-height: 700px;
    min-height: 300px;

    border: 1px solid;
    border-radius: 32px;
    box-shadow: 1px 1px 5px var(--clr-fond-actif);
}

