/* Thème de couleurs */
@import url(theme.css);

/* Générique */
*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: clamp(18px, 2vw, 24px);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans';
}

a, 
a:active, 
a:visited, 
a:link {
    color: inherit;
    text-decoration: none;
}

/* Conteneur */
.conteneur {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

/* Barre du haut */
nav.barre-haut {
    font-size: 0.9rem;
    background-color: var(--clr-fond-principale);
    color: var(--clr-texte-tertiaire);
}

nav.barre-haut {
    margin: 0;
    padding: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    justify-content: flex-end;
}

nav.barre-haut a {
    list-style: none;
    text-align: center;
    width: 2rem;
    margin: 0 0.2rem;
    padding: 0.2rem;
    border: 1px solid var(--clr-bordure-secondaire);
    background-color: var(--clr-fond-tertiaire);
    border-radius: 0.3rem;
}

nav.barre-haut a.actif {
    background-color: var(--clr-fond-actif);
    color: var(--clr-texte-secondaire);
}

/* Barre du logo, de recherche, et panier */
.barre-logo {
    width: 80%;
    margin: 0.5rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.5rem;
    flex-wrap: wrap;
}

.barre-logo .logo img {
    width: clamp(125px, 25vw, 250px);
}

.barre-logo .recherche {
    width: 100%;
    flex-grow: 1;
    height: 50px;
    border: 1px solid var(--clr-fond-tertiaire);
    border-radius: 50px;
    padding: 0 1rem;
    font-size: 1rem;
}

.barre-logo .panier {
    font-size: 1.5rem;
}

.barre-logo .burger {
    font-size: 1.5rem;
    cursor: pointer;
}

/* Navigation principale */
#cc-btn-responsive {
    display: none;
}

nav.principale {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    translate: -100%;
    background-color: var(--clr-fond-menu-responsive);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 1.5rem;
    padding: 1rem;
}

#cc-btn-responsive:checked + nav.principale {
    display: flex;
    translate: 0;
}

nav.principale .menu-controle {
    text-align: right;
    width: 100%;
    cursor: pointer;
    font-size: 1.5rem;
}

nav.principale .separateur {
    width: 100%;
    height: 2px;
    background-color: var(--clr-fond-principale);
}

nav.principale a.actif {
    border-bottom: 3px solid var(--clr-fond-actif);
}

/* Main : Toutes les pages */
main {
    flex-grow: 1;
    width: 95vw;
    margin: 2rem auto;
}

/* Main : Page d'accueil */
main.page-accueil .amorce {
    background-image: url(../images/accueil.jpg);
    background-size: cover;
    background-position: 100% 60%;
    padding: 3rem;
    text-align: center;
    color: var(--clr-texte-secondaire);
}

main.page-accueil .amorce h1 {
    font-size: clamp(1.5rem, 4vw, 4rem);
    margin: auto;
}

main.page-accueil .amorce h2 {
    font-size: clamp(1rem, 2vw, 2rem);
}

main.page-accueil .principal {
    margin: 1rem auto;
    width: 90vw;
}

/* Main : Page Teeshirts/Casquettes/Hoodies */
main.page-produits .amorce {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

main.page-produits .amorce .controle {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.75rem;
    font-size: 0.9rem;
}

main.page-produits .amorce .controle > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

main.page-produits .amorce .controle select {
    margin-left: 0.5rem;
    padding: 0.5rem 3rem 0.5rem 0.5rem;
    border-radius: 1rem;
}

/* TP/Volet 1 : Mobile */
main.page-produits .principal {
    width: 90vw;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

main.page-produits .principal .produit {
    width: 20%;
    min-width: 15rem;
    max-width: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.page-produits .principal .produit .nom {
    text-align: center;
}

main.page-produits .principal .produit .prix {
    text-align: center;
    font-weight: bold;
}

main.page-produits .principal .produit .image {
    position: relative;
}

main.page-produits .principal .produit .ventes {
    position: absolute;
    top: -10px;
    left: -10px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(6, 170, 6);
    color: white;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);

    z-index: 10;
}

main.page-produits .principal .produit .image img {
    width: 100%;
    display: block;
    border-radius: 4px;
}

/*Page Panier*/
.page-panier {
    width: 90%;
    margin: 2rem auto;
    padding-bottom: 3rem;
}

.page-panier .amorce {
    text-align: center;
    margin-bottom: 2rem;
}

.page-panier .amorce h1 {
    font-size: 1.8rem;
    font-weight: 700;
}


.produit-panier {
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.produit-haut {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.image-produit-panier {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
}

.texte-panier {
    font-weight: 500;
    font-size: 1rem;
}

.produit-bas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 0.5rem;
}

.produit-bas .couleur-panier-vert {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #289a42;
}

.produit-bas .couleur-panier-orange {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #ef9f2f;
}

.taille,
.quantite,
.prix {
    font-size: 0.95rem;
}

.quantite{
    border: 1px black solid;
    padding: 0 1rem;
}

.trash {
    cursor: pointer;
    color: #444;
    transition: color 0.2s ease;
    font-size: 0.75rem;
}

.trash:hover {
    color: crimson;
}

.prix-panier {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 1rem;
}

.nombre-produit {
    color: #555;
}

.commande {
    background-color: #1f8136;
    font-family: 'Noto Sans';
    color: white;
    border: none;
    padding: 0.6rem 0.6rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.commande:hover {
    background-color: #218838;
}

/* Pied de page */
footer {
    background-color: var(--clr-fond-tertiaire);
    color: var(--clr-texte-secondaire);
    font-size: 0.8rem;
    padding-top: 1.5rem;
}

footer h2 {
    text-align: center;
}

footer div.contenu {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    text-align: center;

    row-gap: 1rem;
}

footer div.contenu section {
    display: flex;
    flex-direction: column;
}

footer div.contenu section nav {
    display: flex;
    flex-direction: column;
}

footer .da {
    font-size: 0.7rem;
    text-align: center;
    margin: 2rem;
}

@media (min-width: 1000px) {
    .barre-logo  {
        flex-wrap: nowrap;
    }
    
    .barre-logo .logo img {
        width: clamp(250px, 35vw, 350px);
    }

    .barre-logo .recherche {
        min-width: 50%;
    }

    .barre-logo .panier {
        order: 1;
    }

    .barre-logo .burger {
        display: none;
    }

    nav.principale {
        translate: 0;
        display: flex;
        position: relative;
        top: initial;
        left: initial;
        bottom: initial;
        background-color: initial;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 1.5rem;
        padding: 0;
    }

    nav.principale .separateur {
        width: 15px;
        height: 15px;
        border-radius: 25px;
        background-color: var(--clr-fond-principale);
        margin: 0 2rem;
    }

    nav.principale .menu-controle {
        display: none;
    }

    main.page-accueil .amorce h1 {
        margin: auto 12vw;
    }
    
    main.page-accueil .principal {
        margin: 1rem auto;
        width: 70vw;
    }

    /* Page Teeshirts */
    main.page-produits .amorce .controle {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        column-gap: 0.75rem;
    }

    main.page-produits .amorce .controle > div {
        margin: 0 1rem;
    }

    /*Page Panier*/
    main.page-panier{
        width: 50%;
    }
    .produit-panier{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .produit-bas{
        display: flex;
        justify-content: space-evenly;
    }

    .prix-panier{
        flex-direction: row;
        justify-content: space-evenly;
    }

    footer div.contenu {
        flex-direction: row;
        justify-content: center;
        align-items: initial;
        text-align: initial;
        column-gap: 3rem;
    }
}